#main {
    width: 60%;
    margin: auto;
    text-align: center;
}

form,
 h1 {
    width: 60%;
    margin: auto;
}

#ttcBoard table
 {
    width: 350px;
    height: 350px;
    margin: 2% auto;
    border-collapse: collapse;
    font-size: 1.8em;
}


#ttcBoard td 
{
    text-align: center;
}
#ttcBoard tr:nth-of-type(1) td:nth-of-type(1)
 {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

#ttcBoard tr:nth-of-type(1) td:nth-of-type(2)
 {
    border-bottom: 1px solid black;
}

#ttcBoard tr:nth-of-type(1) td:nth-of-type(3)
 {
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

#ttcBoard tr:nth-of-type(2) td:nth-of-type(1)
 {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

#ttcBoard tr:nth-of-type(2) td:nth-of-type(2) 
{
    border-bottom: 1px solid black;
}

#ttcBoard tr:nth-of-type(2) td:nth-of-type(3) 
{
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

#ttcBoard tr:nth-of-type(3) td:nth-of-type(2) 
{
    border-left: 1px solid black;
    border-right: 1px solid black;
}



